.root {
  background: rgb(121, 242, 157);
  display: flex;
  flex-direction: column;

  .rootContent{
    height: 600px;
  }
  .rootFoot{
    display: flex;
    align-self: flex-end;
  }
}

.root {
  justify-content: space     -between;
}
